body {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 14px;
}

#wrapper {
    position: relative;
    overflow-x: hidden;
    margin: 0px auto;
    padding: 50px;
    background: gainsboro;
}

.info1 h1 {
    line-height: 60px;
}

.about {
    background: white;
    color: black;
    margin: 10px;
    padding: 25px;
}

.company {
    background: white;
    color: black;
    margin: 10px;
    padding: 25px;
}

.services {
    background: white;
    color: black;
    margin: 10px;
    padding: 25px;
}

.info2 {
    background: white;
    margin: 10px;
}

.info2 h1 {
    line-height: 60px;
    font-size: 30px;
}

.info2 h2 {
    line-height: 60px;
}

.content {
    color: black;
    margin: 5px;
    padding: 20px;
}

.navigation {
    color: black;
    padding: 25px;
}

ul {
    background: rgb(187, 185, 185);
    padding: 20px;
}

li {
    font-size: 20px;
    line-height: 45px;
}

@media (min-width: 768px) {
body {
    font-size: 16px;
}   

.info1::after {
    content: '';
    display: block;
    clear: both;
}

.about {
    width: calc(100% / 2 - 20px);
    height: 100%;
    float: left;
}

.company {
    width: calc(100% / 2 - 20px);
    height: 100%;
    float: left;
}

.services {
    width: calc(100% - 20px);
    height: 100%;
    float: left;
}

.info2::after {
    content: '';
    display: block;
    clear: both;
}

.content {
    background: white;
    width: calc(60% - 10px);
    height: 100%;
    float: left;
    margin: 10px 0px 10px 10px;
}

.navigation {
    background: white;
    width: calc(40% - 10px);
    height: 100%;
    float: left;
    margin: 10px 10px 10px 0px;
}
}

@media (min-width: 1024px) {
    .info1::after {
        content: '';
        display: block;
        clear: both;
    }
    
    .about {
        width: calc(100% / 3 - 20px);
        height: 100%;
        float: left;
    }
    
    .company {
        width: calc(100% / 3 - 20px);
        height: 100%;
        float: left;
    }
    
    .services {
        width: calc(100% / 3 - 20px);
        height: 100%;
        float: left;
    }
    }
    
